In [ ]:
def represent_summa(summa):
    valörer = [
        (1000, 'Tusenlapp'),
        (200, 'Tvåhundralapp'),
        (100, 'Hundralapp'),
        (50, 'Femtiolapp'),
        (20, 'Tjugolapp'),
        (10, 'Tiokrona'),
        (5, 'Femkrona'),
        (1, 'Enkrona')
    ]

    for valör in valörer:
        antal, namn = summa // valör[0], valör[1]
        summa %= valör[0]
        if antal > 0:
            print(f'{namn}: {antal}')

# Testa funktionen med summan 3214
represent_summa(555)

In [ ]:
foods = {"grönsak": "gurka", "Frukt" : "granatäpple", "bär" : "hallon"}
fruits = foods["Frukt"]
print(fruits[-2::-3])

In [ ]:
def radie(r):
    while True: 
        try:
            if r < 0:
                print("bigger pls")
                
            klot_v=(4*3.14*r**3)/3
            return klot_v
        except ValueError:
            print("num pls")
radie(-1)

In [ ]:
def mönster(n):
    for row in range(n):
        for column in range(n):
            if row==0 or column ==(n-1):
                print("#", end=" ")
            elif row > column:
                print("#", end=" ")
            else:
                print("o", end=" ")
        print()
mönster(6)

In [ ]:
class person:
    def hej():
        print("person säger hej")
class student(person):
    def hej():
        print("student säger hej")
class viking(person):
    def hoj():
        print("viking säger hej")

for person in (person, student, viking):
    person.hej()

In [ ]:
def tal_till_text(num):
    if not 0 <= num <= 9999:
        return "Numret är utanför det tillåtna intervallet."

    grundtal = ["noll", "ett", "två", "tre", "fyra", "fem", "sex", "sju", "åtta", "nio", "tio", 
                "elva", "tolv", "tretton", "fjorton", "femton", "sexton", "sjutton", "arton", "nitton"]
    tiotal = ["", "", "tjugo", "trettio", "fyrtio", "femtio", "sextio", "sjuttio", "åttio", "nittio"]
    
    def hundra(num):
        if num == 0:
            return ""
        elif num < 20:
            return grundtal[num]
        else:
            return tiotal[num // 10] + ("" if num % 10 == 0 else grundtal[num % 10])

    delar = []
    if num == 0:
        return grundtal[0]
    
    if num >= 1000:
        delar.append(grundtal[num // 1000] + "tusen")
        num %= 1000

    if num >= 100:
        delar.append(grundtal[num // 100] + "hundra")
        num %= 100

    if num > 0:
        delar.append(hundra(num))
    
    return "".join(delar)

# Testa funktionen med några exempel
print(tal_till_text(0))     # noll
print(tal_till_text(58))    # femtioåtta
print(tal_till_text(211))   # tvåhundraelva
print(tal_till_text(5301))  # femtusentrehundraett
print(tal_till_text(9999))  # niotusenniohundranittionio

In [ ]:
def represent_summa(summa):
    valörer = [
        (1000, 'Tusenlapp'),
        (200, 'Tvåhundralapp'),
        (100, 'Hundralapp'),
        (50, 'Femtiolapp'),
        (20, 'Tjugolapp'),
        (10, 'Tiokrona'),
        (5, 'Femkrona'),
        (1, 'Enkrona')
    ]

    for valör in valörer:
        antal, namn = summa // valör[0], valör[1]
        summa %= valör[0]
        if antal > 0:
            print(f'{namn}: {antal}')

# Testa funktionen med summan 3214
represent_summa(3214)

In [88]:
def sek_to_usd(dollar):
    if 0 <= dollar <= 100:
        print("talet får inte vara mer än 100")
    SEK = dollar * 9

    valörer = [(500, "femhundra"),
            (200, "tvåhundra"),
            (100, "hundra"),
            (50, "femtio"),
            (20, "tjugio"),
            (10, "tio"),
            (5, "fem"),
            (1, "ett")]

    for belopp, text in valörer:
        print(belopp, text)
sek_to_usd(4)

talet får inte vara mer än 100
500 femhundra
200 tvåhundra
100 hundra
50 femtio
20 tjugio
10 tio
5 fem
1 ett